.mid_section {
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.13em;
    color: black;
}
.text{
    flex: 0.5;
    padding-left: 5%;
}
.image{
    height: 400px;
    width: 450px;
}


@media (max-width:960px){
    .mid_section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        padding:1%
    }
    .image{
        height: 300px;
        width: 380px;
    }
    .text{
        text-align: justify;
        padding: 3%;
    }
}